## 이디야 매장명, 주소, 구 크롤링

1. 페이지 접근
2. 주소 검색 탭 선택
3. 검색어(구) 입력
4. 검색 버튼 입력
5. 검색 결과 리스트 가져오기(beautifulsoup)
6. 데이터 수집(매장 이름, 주소)
7. 전체 데이터 수집

In [27]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import Chrome
from bs4 import BeautifulSoup
import warnings
warnings.simplefilter(action='ignore')
from tqdm import tqdm_notebook
import time

In [ ]:

driver = webdriver.Chrome(executable_path='../driver/chromedriver.exe')
driver.get("https://www.ediya.com/contents/find_store.html#c")

In [3]:
# 2. 주소 검색 탭 선택
driver.find_element(By.CSS_SELECTOR , '#contentWrap > div.contents > div > div.store_search_pop > ul > li:nth-child(2) > a').click()

In [9]:
# 3. 검색어(구) 입력
# 스타벅스 매장 구 컬럼 가져오기
starbucks_df = pd.read_csv('../data/starbucks.csv', index_col=0)
gu_list = list((starbucks_df['gu'].unique()))
# 서울 중구, 등의 검색 오류로 '서울'을 붙여준다.
gu_list = [str('서울 ') + gu for gu in gu_list]
len(gu_list), gu_list

(25,
 ['서울 강남구',
  '서울 강북구',
  '서울 강서구',
  '서울 관악구',
  '서울 광진구',
  '서울 금천구',
  '서울 노원구',
  '서울 도봉구',
  '서울 동작구',
  '서울 마포구',
  '서울 서대문구',
  '서울 서초구',
  '서울 성북구',
  '서울 송파구',
  '서울 양천구',
  '서울 영등포구',
  '서울 은평구',
  '서울 종로구',
  '서울 중구',
  '서울 강동구',
  '서울 구로구',
  '서울 동대문구',
  '서울 성동구',
  '서울 용산구',
  '서울 중랑구'])

In [12]:
# 3. 구별 검색어 입력
search_gu = driver.find_element(By.CSS_SELECTOR, '#keyword')
search_gu.clear()
search_gu.send_keys(gu_list[1])

In [16]:
# 4. 검색 버튼 입력
search_btn = driver.find_element(By.CSS_SELECTOR, '#keyword_div > form > button')
search_btn.click()

In [18]:
# 5. 검색 결과 리스트 가져오기(beautifulSoup)
html = driver.page_source
dom = BeautifulSoup(html, 'html.parser')
contents = dom.select('#placesList li')
len(contents)

13

In [24]:
# 6. 매장이름, 주소 데이터 수집

title = contents[0].select_one('dt').text
address = contents[0].select_one('dd').text

title, address

('가오리역점', '서울 강북구 삼각산로 108 (수유동)')

In [25]:
driver.close()

In [134]:
# 7. 전체 데이터 수집
driver = webdriver.Chrome('../driver/chromedriver.exe')
driver.get("https://www.ediya.com/contents/find_store.html#c")

driver.find_element(By.CSS_SELECTOR , '#contentWrap > div.contents > div > div.store_search_pop > ul > li:nth-child(2) > a').click()

search_gu = driver.find_element(By.CSS_SELECTOR, '#keyword')

search_btn = driver.find_element(By.CSS_SELECTOR, '#keyword_div > form > button')
time.sleep(1)

datas = []
for gu in gu_list:
    search_gu.clear()
    search_gu.send_keys(gu)
    search_btn.click()
    time.sleep(1)

    html = driver.page_source
    dom = BeautifulSoup(html, 'html.parser')
    contents = dom.select('#placesList li')

    for content in contents:
        title = content.select_one('dt').text
        address = content.select_one('dd').text
        datas.append({
            "title" : title,
            "address" : address
        })

driver.close()
df = pd.DataFrame(datas)
df.tail()

     title                       address
628  중랑묵동점  서울 중랑구 동일로 932 (묵동, 묵동자이아파트)
629   중랑역점          서울 중랑구 망우로 198 (상봉동)
630   중화동점        서울 중랑구 동일로129길 1 (중화동)
631   중화역점            서울 중랑구 동일로 815, 1층
632  화랑대역점   서울 중랑구 신내로25가길 2 (묵동, 현동학당)

In [135]:
# 8. 구('gu') 컬럼 추가

# 형식 : df = df['address'][0].split()[1]
df['gu'] = df['address'][0].split(' ')[1]

for idx, rows in df.iterrows():
    rows['gu'] = df['address'][idx].split(' ')[1]

df['gu'].unique()

array(['강남구', '강북구', '강서구', '관악구', '광진구', '금천구', '노원구', '도봉구', '동작구',
       '마포구', '서대문구', '서초구', '성북구', '송파구', '양천구', '영등포구', '은평구', '종로구',
       '중구', '강동구', '구로구', '동대문구', '성동구', '용산구', '중랑구'], dtype=object)

In [136]:
df.tail()

     title                       address   gu
628  중랑묵동점  서울 중랑구 동일로 932 (묵동, 묵동자이아파트)  중랑구
629   중랑역점          서울 중랑구 망우로 198 (상봉동)  중랑구
630   중화동점        서울 중랑구 동일로129길 1 (중화동)  중랑구
631   중화역점            서울 중랑구 동일로 815, 1층  중랑구
632  화랑대역점   서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구

In [137]:
# 9. 위도 경도 컬럼 추가
import googlemaps

gmaps_key = 'AIzaSyAgvvviPD4RiDnMZ6FTBI67zGprcnSyV-0'
gmaps = googlemaps.Client(key = gmaps_key)

In [138]:
import numpy as np

df['lat'] = np.nan
df['lng'] = np.nan

df.tail()

     title                       address   gu  lat  lng
628  중랑묵동점  서울 중랑구 동일로 932 (묵동, 묵동자이아파트)  중랑구  NaN  NaN
629   중랑역점          서울 중랑구 망우로 198 (상봉동)  중랑구  NaN  NaN
630   중화동점        서울 중랑구 동일로129길 1 (중화동)  중랑구  NaN  NaN
631   중화역점            서울 중랑구 동일로 815, 1층  중랑구  NaN  NaN
632  화랑대역점   서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구  NaN  NaN

In [139]:
tmp = gmaps.geocode('서울 서대문구 수색로 100 (북가좌동, DMC래미안e편한세상)', language='ko')
len(tmp)

0

In [140]:
# 수색로 DMC래미안e편한세상 - 37.574191, 126.912123
for idx, rows in tqdm_notebook(df.iterrows()):
    address = rows['address']
    tmp = gmaps.geocode(address,  language='ko')
    if len(tmp) > 0:
        tmp[0].get('formatted_address')

        lat = tmp[0].get('geometry')['location']['lat']
        lng = tmp[0].get('geometry')['location']['lng']

        df.loc[idx, 'lat'] = lat
        df.loc[idx, 'lng'] = lng
    else:
        print(f"Setting 'lat' and 'lng' to NaN at index {idx}")
        df.loc[idx, 'lat'] = np.nan
        df.loc[idx, 'lng'] = np.nan

0it [00:00, ?it/s]

Setting 'lat' and 'lng' to NaN at index 236
Setting 'lat' and 'lng' to NaN at index 247
Setting 'lat' and 'lng' to NaN at index 270
Setting 'lat' and 'lng' to NaN at index 319
Setting 'lat' and 'lng' to NaN at index 352
Setting 'lat' and 'lng' to NaN at index 389

In [141]:
df.iloc[235:300]

        title                            address   gu        lat         lng
235  신촌숲아이파크점       서울 마포구 광성로 17 (신수동, 신촌숲아이파크)  마포구  37.549980  126.934979
236  신촌하나로마트점        서울 마포구 신촌로 66 (노고산동, 농협중앙회)  마포구        NaN         NaN
237     애오개역점              서울 마포구 마포대로 208 (아현동)  마포구  37.552503  126.956838
238    오벨리스크점  서울 마포구 마포대로 33 (도화동, 마포 한화 오벨리스크)  마포구  37.539760  126.945140
239   한강공원로점                 서울 마포구 망원로 21 (망원동)  마포구  37.556362  126.899403
..        ...                                ...  ...        ...         ...
295      돈암동점            서울 성북구 동소문로 119 (동선동4가)  성북구  37.594363  127.018531
296    돈암아리랑점     서울 성북구 아리랑로 75 (돈암동, 돈암코오롱하늘채)  성북구  37.599107  127.013795
297     돌곶이역점             서울 성북구 돌곶이로22길 3 (석관동)  성북구  37.610207  127.058103
298     동덕여대점               서울 성북구 화랑로 99 (하월곡동)  성북구  37.605611  127.038018
299     동소문동점          서울 성북구 동소문로13길 5 (동소문동4가)  성북구  37.592045  127.012875

[65 rows x 5 columns]

In [142]:
nan_check = df[df['lat'].isna()]
len(nan_check)

6

In [144]:
df = df.dropna(subset=['lat', 'lng'])
len(df), df.tail()

(627,
      title                       address   gu        lat         lng
 628  중랑묵동점  서울 중랑구 동일로 932 (묵동, 묵동자이아파트)  중랑구  37.613779  127.077524
 629   중랑역점          서울 중랑구 망우로 198 (상봉동)  중랑구  37.593285  127.074889
 630   중화동점        서울 중랑구 동일로129길 1 (중화동)  중랑구  37.601957  127.086627
 631   중화역점            서울 중랑구 동일로 815, 1층  중랑구  37.603129  127.078889
 632  화랑대역점   서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구  37.619451  127.084160)

In [145]:
df = df.reset_index(drop=True)
df

           title                       address   gu        lat         lng
0        강남YMCA점                    서울 강남구 논현동  강남구  37.513679  127.031712
1    강남구청역아이티웨딩점   서울 강남구 학동로 338 (논현동, 강남파라곤)  강남구  37.516551  127.040139
2        강남논현학동점       서울 강남구 논현로131길 28 (논현동)  강남구  37.515190  127.027554
3          강남대치점    서울 강남구 역삼로 415 (대치동, 성진빌딩)  강남구  37.501434  127.052328
4          강남도산점       서울 강남구 도산대로37길 20 (신사동)  강남구  37.522282  127.031480
..           ...                           ...  ...        ...         ...
622        중랑묵동점  서울 중랑구 동일로 932 (묵동, 묵동자이아파트)  중랑구  37.613779  127.077524
623         중랑역점          서울 중랑구 망우로 198 (상봉동)  중랑구  37.593285  127.074889
624         중화동점        서울 중랑구 동일로129길 1 (중화동)  중랑구  37.601957  127.086627
625         중화역점            서울 중랑구 동일로 815, 1층  중랑구  37.603129  127.078889
626        화랑대역점   서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구  37.619451  127.084160

[627 rows x 5 columns]

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    627 non-null    object
 1   address  627 non-null    object
 2   gu       627 non-null    object
 3   lat      627 non-null    float64
 4   lng      627 non-null    float64
dtypes: float64(2), object(3)
memory usage: 24.6+ KB

In [147]:
# 10. csv 파일 저장
df.to_csv('../data/ediya.csv', encoding='utf-8')

In [148]:
# 파일 읽기
ediya_df = pd.read_csv('../data/ediya.csv', index_col=0)
ediya_df

           title                       address   gu        lat         lng
0        강남YMCA점                    서울 강남구 논현동  강남구  37.513679  127.031712
1    강남구청역아이티웨딩점   서울 강남구 학동로 338 (논현동, 강남파라곤)  강남구  37.516551  127.040139
2        강남논현학동점       서울 강남구 논현로131길 28 (논현동)  강남구  37.515190  127.027554
3          강남대치점    서울 강남구 역삼로 415 (대치동, 성진빌딩)  강남구  37.501434  127.052328
4          강남도산점       서울 강남구 도산대로37길 20 (신사동)  강남구  37.522282  127.031480
..           ...                           ...  ...        ...         ...
622        중랑묵동점  서울 중랑구 동일로 932 (묵동, 묵동자이아파트)  중랑구  37.613779  127.077524
623         중랑역점          서울 중랑구 망우로 198 (상봉동)  중랑구  37.593285  127.074889
624         중화동점        서울 중랑구 동일로129길 1 (중화동)  중랑구  37.601957  127.086627
625         중화역점            서울 중랑구 동일로 815, 1층  중랑구  37.603129  127.078889
626        화랑대역점   서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구  37.619451  127.084160

[627 rows x 5 columns]