<div align="center">
    <img src="images/zb-logo.png" alt="ì œë¡œë² ì´ìŠ¤" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

ì´ Jupyter Notebook íŒŒì¼ì€ <a href="https://zero-base.co.kr/category_data_camp/school_DS">ì œë¡œë² ì´ìŠ¤</a>ì—ì„œ ì œê³µí•˜ëŠ” **EDA Level Test** ë¬¸ì œì…ë‹ˆë‹¤.<br>
ì§€ê¸ˆê¹Œì§€ ê³µë¶€í•˜ì‹  ë‚´ìš©ìœ¼ë¡œ ë°ì´í„° ë¶„ì„ì— ëŒ€í•´ ì¢€ ë” ì—°ìŠµí•  ìˆ˜ ìˆëŠ” ì‹œê°„ì´ ë˜ì…¨ìœ¼ë©´ ì¢‹ê² ìŠµë‹ˆë‹¤.ğŸ™‚<br>
**EDA Level Test**ì— ëŒ€í•œ ì•ˆë‚´ ì‚¬í•­ì€ ìƒë‹¨ **Open in ZeroBase Notion** ë¡œê³ ë¥¼ í´ë¦­í•˜ì—¬ í™•ì¸í•´ì£¼ì„¸ìš”!<br>
ë°˜ë“œì‹œ ì‹œì‘ ì „ì— ë‚´ìš©ì„ ìˆ™ì§€í•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 04 â­ï¸â­ï¸</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | ì„œìš¸ì‹œ ì¸êµ¬ ë°ì´í„° | â­ï¸ ||
| 2    | í™”ì¥í’ˆ ì„±ë¶„ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 3    | ì˜¬ë¦¼í”½ ë°ì´í„° | â­ï¸â­ï¸ ||
| 4    | êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥  ë°ì´í„° |â­ï¸â­ï¸ |ğŸ‘ˆ|
| 5    | ì „êµ­ ë°•ë¬¼ê´€/ë¯¸ìˆ ê´€ ì •ë³´ í‘œì¤€ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 6    | ì„œìš¸ì‹œ í¡ì—°ìœ¨ í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 7    | ì›¹í¬ë¡¤ë§ | â­ï¸ ||
| 8    | ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ /ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´ ë°ì´í„° | â­ï¸â­ï¸ ||
| 9    | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 10   | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ + ì„œìš¸ì‹œ ì°¨ëŸ‰í†µí–‰ì†ë„ (êµ¬ë³„/ì›”ë³„) í†µê³„ + ì„œìš¸ì‹œ ì¸êµ¬ë°€ë„ (êµ¬ë³„) í†µê³„ | â­ï¸â­ï¸â­ï¸ ||

## ë¬¸ì œ ì†Œê°œ ë° ë°ì´í„° ì¤€ë¹„ ë‹¨ê³„

### Data ì›ë³¸ ì¶œì²˜

### Target Data(CSV): Global Internet Usage(êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥ )
- Source: [Kaggle](https://www.kaggle.com/datasets/sansuthi/gapminder-internet)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/sansuthi/gapminder-internet/download)

### Reference Data01(HTML Link): êµ­ê°€ë³„ ì¸êµ¬(Population) Data
- Source: [Wiki](https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population)

### Reference Data02(CSV): êµ­ê°€ë³„ ISOì½”ë“œ / ì§€ì—­ ë¶„ë¥˜(Region) Data
- Source: [Kaggle](https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region/download)


### ì°¸ê³ ì‚¬í•­
- ìœ„ 3ê°œì˜ Dataë“¤ì€ ìƒì„± ì‹œê¸°ê°€ ë‹¤ë¥´ë¯€ë¡œ ì´ Testì—ì„œ ë„ì¶œë˜ëŠ” ê²°ê³¼ëŠ” ì‹¤ì œì™€ ì¼ì¹˜í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.
<br></br>
- ë¬¸ì œì— hintê°€ ìˆì„ ê²½ìš°, í•´ë‹¹ hintë¥¼ ì´ìš©í•˜ì§€ ì•Šìœ¼ì…”ë„ ë¬´ë°©í•©ë‹ˆë‹¤.
<br></br>
- í•´ë‹¹ TestëŠ” Wikiì˜ Online Dataë¥¼ ê°€ì ¸ì˜¤ëŠ” ë‚´ìš©ì„ í¬í•¨í•˜ê³  ìˆìŠµë‹ˆë‹¤.
    - í•´ë‹¹ ë‚´ìš©ì´ ë³€ê²½ë  ê²½ìš° ì¶”í›„ ê³µìœ ë  ì •ë‹µê³¼ ë‹¤ë¥¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
    - ë¬¸ì œ ì œì‘ì‹œì˜ DataëŠ” ì¶”í›„ ê³µìœ ë  ì •ë‹µê³¼ í•¨ê»˜ ì œê³µí•©ë‹ˆë‹¤. í•´ë‹¹ DataëŠ” ì•„ë˜ì˜ ê²½ë¡œì— ìˆìŠµë‹ˆë‹¤.  
        - êµ­ê°€ë³„ ì¸êµ¬ Data  
            <code> [DS]EDA Level Test_week 4/solution/datas/wiki_population.csv </code>  
<br></br>
- í•´ë‹¹ TestëŠ” pycountry ë¼ëŠ” Libraryë¥¼ ì‚¬ìš©í•  ì˜ˆì •ì…ë‹ˆë‹¤.
    - https://pypi.org/project/pycountry/#description
    - https://github.com/flyingcircusio/pycountry
<br></br>
    - í•´ë‹¹ Libraryê°€ ì—†ëŠ” ê²½ìš° ì•„ë˜ ëª…ë ¹ì–´ë¥¼ ì‚¬ìš©í•˜ì—¬ ì„¤ì¹˜í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤.  
    <code> pip install pycountry </code> ë˜ëŠ” <code> conda install -c conda-forge pycountry </code>

In [3]:
# ì„¤ì¹˜ í•„ìˆ˜
!pip install pycountry
!pip install lxml

Requirement already satisfied: pycountry in c:\users\fins6\anaconda3\envs\ds_study\lib\site-packages (22.3.5)
Requirement already satisfied: setuptools in c:\users\fins6\anaconda3\envs\ds_study\lib\site-packages (from pycountry) (68.0.0)
Requirement already satisfied: lxml in c:\users\fins6\anaconda3\envs\ds_study\lib\site-packages (4.9.3)

In [4]:
import pandas as pd
# ì±„ì ì„ ìœ„í•œ ì½”ë“œì…ë‹ˆë‹¤. ë°˜ë“œì‹œ ì‹¤í–‰í•´ì£¼ì„¸ìš”.
from grading import *

df_target = pd.read_csv('./datas/gapminder_internet.csv')
df_target

                country  incomeperperson  internetuserate  urbanrate
0           Afghanistan              NaN         3.654122      24.04
1               Albania      1914.996551        44.989947      46.72
2               Algeria      2231.993335        12.500073      65.22
3               Andorra     21943.339900        81.000000      88.92
4                Angola      1381.004268         9.999954      56.70
..                  ...              ...              ...        ...
208             Vietnam       722.807559        27.851822      27.84
209  West Bank and Gaza              NaN        36.422772      71.90
210         Yemen, Rep.       610.357367        12.349750      30.64
211              Zambia       432.226337        10.124986      35.42
212            Zimbabwe       320.771890        11.500415      37.34

[213 rows x 4 columns]

## ë¬¸ì œ ì‹œì‘! ğŸƒğŸ»

## 1ë‹¨ê³„: Target Data ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬
***

### ë¬¸ì œ 1-1) Target Data ì „ì²˜ë¦¬ 01 (5ì )
- ìœ„ì—ì„œ ì½ì€ DataFrameì—ì„œ Nullê°’ì„ ì²˜ë¦¬í•˜ê³ ì í•©ë‹ˆë‹¤. ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ Nullê°’ì„ ì²˜ë¦¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 'incomeperperson', 'internetuserate', 'urbanrate' Column(ì—´)ì— í•˜ë‚˜ë¼ë„ Nullê°’ì´ ìˆë‹¤ë©´ ê·¸ row(í–‰)ë¥¼ ì‚­ì œ(drop)í•˜ì„¸ìš”.
    - ì¡°ê±´2: Indexì™€ ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [5]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          213 non-null    object
 1   incomeperperson  190 non-null    float64
 2   internetuserate  192 non-null    float64
 3   urbanrate        203 non-null    float64
dtypes: float64(3), object(1)
memory usage: 6.8+ KB

In [6]:
# 1-1
df_target.dropna(inplace=True)


check_01_01(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 5 / 100

In [7]:
df_target

                 country  incomeperperson  internetuserate  urbanrate
1                Albania      1914.996551        44.989947      46.72
2                Algeria      2231.993335        12.500073      65.22
3                Andorra     21943.339900        81.000000      88.92
4                 Angola      1381.004268         9.999954      56.70
5    Antigua and Barbuda     11894.464070        80.645455      30.46
..                   ...              ...              ...        ...
207            Venezuela      5528.363114        35.850437      93.32
208              Vietnam       722.807559        27.851822      27.84
210          Yemen, Rep.       610.357367        12.349750      30.64
211               Zambia       432.226337        10.124986      35.42
212             Zimbabwe       320.771890        11.500415      37.34

[182 rows x 4 columns]

### ë¬¸ì œ 1-2) Target Data ì „ì²˜ë¦¬ 02 (5ì )
- 1-1ì˜ DataFrame(df_target)ê³¼ ì•„ë˜ì˜ df_target_change_listë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ëª…(ì»¬ëŸ¼ëª…: 'country')ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : êµ­ê°€ëª…ì„ ë³€ê²½í•˜ëŠ” ì´ìœ ëŠ” ì¶”í›„(ë¬¸ì œ 2-4) pycountry Libraryë¥¼ ì‚¬ìš©í•˜ì—¬ êµ­ê°€ì½”ë“œ(ex: ëŒ€í•œë¯¼êµ­-KR)ë¥¼ ì–»ê¸° ìœ„í•¨ì…ë‹ˆë‹¤.
<br></br>
    - ì•„ë˜ df_target_change_listëŠ” ë³€ê²½ ëŒ€ìƒì¸ df_targetì˜ indexì™€ ê·¸ì— ë§ëŠ” êµ­ê°€ëª…ì´ ìŒ(tuple)ë“¤ì„ ê°’ìœ¼ë¡œ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_target_change_listë¥¼ ì´ìš©í•˜ì—¬ df_targetì˜ êµ­ê°€ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
        - ì¡°ê±´2: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [8]:
df_target_change_list = [
    (33, 'Cabo Verde'),
    (35, 'Central African Republic'),
    (41, 'Congo, The Democratic Republic of the'),
    (42, 'Congo'),
    (45, "CÃ´te d'Ivoire"),
    (49, 'Czech Republic'),
    (53, 'Dominican Republic'),
    (83, 'Hong Kong'),
    (100, 'Korea, Republic of'),
    (103, "Lao People's Democratic Republic"),
    (112, 'Macao'),
    (113, 'Republic of North Macedonia'),
    (125, 'Federated States of Micronesia'),
    (183, 'Eswatini'),
    (210, 'Yemen')
]

In [9]:
# 1-2
for index, new_country_name in df_target_change_list:
    df_target.loc[index, 'country'] = new_country_name
check_01_02(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 10 / 100

In [10]:
df_target

                 country  incomeperperson  internetuserate  urbanrate
1                Albania      1914.996551        44.989947      46.72
2                Algeria      2231.993335        12.500073      65.22
3                Andorra     21943.339900        81.000000      88.92
4                 Angola      1381.004268         9.999954      56.70
5    Antigua and Barbuda     11894.464070        80.645455      30.46
..                   ...              ...              ...        ...
207            Venezuela      5528.363114        35.850437      93.32
208              Vietnam       722.807559        27.851822      27.84
210                Yemen       610.357367        12.349750      30.64
211               Zambia       432.226337        10.124986      35.42
212             Zimbabwe       320.771890        11.500415      37.34

[182 rows x 4 columns]

### ë¬¸ì œ 1-3) Target Data ì „ì²˜ë¦¬ 03 (10ì )
- 1-2ì˜ DataFrame(df_target)ê³¼ pycountry Libraryë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ì½”ë“œë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : **pycountry.countries**
<br></br>
        - ISO 3166-2(ì „ ì„¸ê³„ ë‚˜ë¼ ë° ë¶€ì† ì˜í† ì˜ ì£¼ìš” êµ¬ì„± ë‹¨ìœ„ì˜ ëª…ì¹­ì— ê³ ìœ  ë¶€í˜¸(ì½”ë“œ)ë¥¼ ë¶€ì—¬í•˜ëŠ” êµ­ì œ í‘œì¤€) ê¸°ì¤€ êµ­ê°€ë³„ ì½”ë“œë¥¼ ì–»ì„ ìˆ˜ ìˆëŠ” Python Library
<br></br>
        - êµ­ê°€ëª… í‘œê¸° ë°©ì‹ì— ë”°ë¼ ì˜ëª»ëœ ê°’ ë˜ëŠ” ê°’ ê²€ìƒ‰ì´ ì•ˆë˜ëŠ” ê²½ìš°ê°€ ë§ì•„ ì£¼ì˜ê°€ í•„ìš”í•¨
<br></br>
            - ì˜ˆì‹œ: ëŒ€í•œë¯¼êµ­ì˜ ê²½ìš° 'south korea', 'republic of korea', 'korea', 'korea, republic of' ë“±ìœ¼ë¡œ í‘œê¸°ë˜ëŠ”ë°, ì´ ì¤‘ 'korea, republic of' ë¡œë§Œ ì •í™•í•œ êµ­ê°€ ì½”ë“œë¥¼ ì–»ì„ ìˆ˜ ìˆìŒ
            - í˜¼ì„ ì„ ì¤„ì´ê¸° ìœ„í•˜ì—¬ ë¬¸ì œ 1-2ì™€ ê°™ì´ ë³€ê²½í•  êµ­ê°€ëª…ì„ ì œê³µí•¨
<br></br>
        - ì‚¬ìš©ë²•(ìƒì„¸ ì‚¬ìš©ë²•ì€ 2.Datasì˜ ì°¸ê³ ì‚¬í•­ ë‚´ ë§í¬ ì°¸ì¡°)
<br></br>
            - êµ­ê°€ ê²€ìƒ‰ ë°©ë²•
<br></br>
                - ì¼ë°˜ ê²€ìƒ‰: pycountry.countries.get(name=country_name) -> í•˜ë‚˜ì˜ ê²°ê³¼ê°’ì„ return
                - fuzzy ê²€ìƒ‰: pycountry.countries.search_fuzzy(country_name) -> í•˜ë‚˜ ì´ìƒì˜ ê²°ê³¼ê°’ì„ listí˜•íƒœë¡œ return
<br></br>
            - ì˜ˆì‹œ
<br></br>
            <img src="images/04-1-3-001.png" style="margin:auto" width=500/>
<br></br>
            <img src="images/04-1-3-002.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´1: df_targetì— 'code'ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ì—¬ ê° row(í–‰)ì˜ êµ­ê°€ëª…ì— ë§ëŠ” 2ê¸€ì êµ­ê°€ì½”ë“œ(alpha_2)ë¥¼ ì…ë ¥í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì¼ë°˜ê²€ìƒ‰(pycountry.countries.get(name=country_name))ì„ ìš°ì„  ì´ìš© í•´ë³´ê³ , ê²°ê³¼ê°’ì´ ì•ˆ ë‚˜ì˜¬ ê²½ìš° fuzzy ê²€ìƒ‰(pycountry.countries.search_fuzzy(country_name))ì„ í™œìš©í•˜ì—¬ ê²€ìƒ‰í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: fuzzy ê²€ìƒ‰ì„ ì´ìš©í•  ê²½ìš°, ê²°ê³¼ê°’ listì˜ ì²«ë²ˆì§¸ ê°’(index=0)ì˜ êµ­ê°€ì½”ë“œë¥¼ ì…ë ¥í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
<br></br>
    - hint: Python ì˜ˆì™¸ì²˜ë¦¬(try-except)ë¥¼ í™œìš©í•´ ë³´ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [11]:
import pycountry
#coun_name = 'korea, republic of'
coun_name = 'america'
country = pycountry.countries.search_fuzzy(coun_name)
country

[Country(alpha_2='AS', alpha_3='ASM', flag='ğŸ‡¦ğŸ‡¸', name='American Samoa', numeric='016'),
 Country(alpha_2='US', alpha_3='USA', flag='ğŸ‡ºğŸ‡¸', name='United States', numeric='840', official_name='United States of America')]

In [12]:
# 1-3
def get_alpha2(country_name):
    try:
        country = pycountry.countries.get(name=country_name)
        if country:
            return country.alpha_2
        else:
            return None
    except Exception as e:
        return None

df_target['code'] = df_target['country'].apply(get_alpha2)
df_target['code'].isnull().sum()

13

In [13]:
null_rows = df_target[df_target['code'].isnull()]
null_rows

,country,incomeperperson,internetuserate,urbanrate,code
22,Bolivia,1232.794137,20.001710,65.58,None
26,Brunei,17092.460000,49.989975,74.82,None
49,Czech Republic,7381.312751,68.638133,73.50,None
88,Iran,2161.546510,13.000111,68.46,None
113,Republic of North Macedonia,2221.185664,51.914184,66.90,None
125,Federated States of Micronesia,2146.358593,20.011532,22.54,None
126,Moldova,595.874534,40.122235,41.76,None
159,Russia,2923.144355,43.366498,72.84,None
174,Slovak Republic,8445.526689,79.889777,56.56,None
186,Syria,1525.780116,20.663156,54.22,None
189,Tanzania,456.385712,11.000055,25.52,None
207,Venezuela,5528.363114,35.850437,93.32,None
208,Vietnam,722.807559,27.851822,27.84,None

In [14]:
df_target_code_update_dict = {
    'Bolivia' : 'BO',
    'Brunei' : 'BN',
    'Czech Republic' : 'CZ',
    'Iran' : 'IR',
    'Republic of North Macedonia' : 'MK',
    'Federated States of Micronesia' : 'FM',
    'Moldova' : 'MD',
    'Russia' : 'RU',
    'Slovak Republic' : 'SK',
    'Syria' : 'SY',
    'Tanzania' : 'TZ',
    'Venezuela' : 'VE',
    'Vietnam' : 'VN'
}

In [15]:
for key, val in df_target_code_update_dict.items():
    df_target.loc[df_target['country'] == key, 'code'] = val

df_target

                 country  incomeperperson  internetuserate  urbanrate code
1                Albania      1914.996551        44.989947      46.72   AL
2                Algeria      2231.993335        12.500073      65.22   DZ
3                Andorra     21943.339900        81.000000      88.92   AD
4                 Angola      1381.004268         9.999954      56.70   AO
5    Antigua and Barbuda     11894.464070        80.645455      30.46   AG
..                   ...              ...              ...        ...  ...
207            Venezuela      5528.363114        35.850437      93.32   VE
208              Vietnam       722.807559        27.851822      27.84   VN
210                Yemen       610.357367        12.349750      30.64   YE
211               Zambia       432.226337        10.124986      35.42   ZM
212             Zimbabwe       320.771890        11.500415      37.34   ZW

[182 rows x 5 columns]

In [16]:
df_target.isnull().sum()

country            0
incomeperperson    0
internetuserate    0
urbanrate          0
code               0
dtype: int64

In [17]:

check_01_03(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 20 / 100

In [18]:
df_target

                 country  incomeperperson  internetuserate  urbanrate code
1                Albania      1914.996551        44.989947      46.72   AL
2                Algeria      2231.993335        12.500073      65.22   DZ
3                Andorra     21943.339900        81.000000      88.92   AD
4                 Angola      1381.004268         9.999954      56.70   AO
5    Antigua and Barbuda     11894.464070        80.645455      30.46   AG
..                   ...              ...              ...        ...  ...
207            Venezuela      5528.363114        35.850437      93.32   VE
208              Vietnam       722.807559        27.851822      27.84   VN
210                Yemen       610.357367        12.349750      30.64   YE
211               Zambia       432.226337        10.124986      35.42   ZM
212             Zimbabwe       320.771890        11.500415      37.34   ZW

[182 rows x 5 columns]

## 2ë‹¨ê³„: Reference Data01: ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬ & í•©ì¹˜ê¸°
***

### ë¬¸ì œ 2-1) Web Data ê°€ì ¸ì˜¤ê¸° (10ì )
- ì•„ë˜ ì œì‹œëœ Linkì— ìˆëŠ” êµ­ê°€ë³„ ì¸êµ¬ì— ëŒ€í•œ Tableì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ì˜ˆì‹œì™€ ê°™ì´ Pandas DataFrameìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
<br></br>
    - Link: https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population
<br></br>
    <img src="images/04-2-1-001.png" style="margin:auto" width=400/>
<br></br>
    - ì˜ˆì‹œ
<br></br>
    <img src="images/04-2-1-002.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´: í•´ë‹¹ DataFrameì˜ ë³€ìˆ˜ëª…ì„ 'df_population'ìœ¼ë¡œ ì§€ì •í•´ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint: pandasì˜ ê¸°ëŠ¥ ì¤‘ì— ì›¹í˜ì´ì§€ì˜ Tableë“¤ì„ ì½ì–´ì™€ DataFrameìœ¼ë¡œ ë§Œë“¤ì–´ì£¼ëŠ” methodê°€ ìˆìŠµë‹ˆë‹¤.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [19]:
from bs4 import BeautifulSoup
import requests

url = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')
table = soup.find('table')
dfs = pd.read_html(str(table))
df_population = dfs[0]
df_population

,Unnamed: 0,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,â€“,World,8063792000,100%,5 Oct 2023,UN projection[3],NaN
1,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392329000,NaN,1 Mar 2023,Official projection[5],[c]
3,3,United States,335466000,NaN,5 Oct 2023,National population clock[7],[d]
4,4,Indonesia,278696200,NaN,1 Jul 2023,National annual projection[8],NaN
...,...,...,...,...,...,...,...
237,â€“,Tokelau (NZ),1647,NaN,1 Jan 2019,2019 Census [230],NaN
238,â€“,Niue,1549,NaN,1 Jul 2021,National annual projection[182],NaN
239,195,Vatican City,764,NaN,26 Jun 2023,Official figure[231],[af]
240,â€“,Cocos (Keeling) Islands (Australia),593,NaN,30 Jun 2020,2021 Census[232],NaN
241,â€“,Pitcairn Islands (UK),47,NaN,1 Jul 2021,Official estimate[233],NaN

In [20]:

check_02_01(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 30 / 100

In [21]:
df_population

,Unnamed: 0,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,â€“,World,8063792000,100%,5 Oct 2023,UN projection[3],NaN
1,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392329000,NaN,1 Mar 2023,Official projection[5],[c]
3,3,United States,335466000,NaN,5 Oct 2023,National population clock[7],[d]
4,4,Indonesia,278696200,NaN,1 Jul 2023,National annual projection[8],NaN
...,...,...,...,...,...,...,...
237,â€“,Tokelau (NZ),1647,NaN,1 Jan 2019,2019 Census [230],NaN
238,â€“,Niue,1549,NaN,1 Jul 2021,National annual projection[182],NaN
239,195,Vatican City,764,NaN,26 Jun 2023,Official figure[231],[af]
240,â€“,Cocos (Keeling) Islands (Australia),593,NaN,30 Jun 2020,2021 Census[232],NaN
241,â€“,Pitcairn Islands (UK),47,NaN,1 Jul 2021,Official estimate[233],NaN

### ë¬¸ì œ 2-2) Population Data ì „ì²˜ë¦¬ 01 (5ì )
- 2-1ì˜ DataFrame(df_population)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: Column(ì—´) ì¤‘ 'Country / Dependency', 'Population' 2ê°œë§Œ ë‚¨ê¸°ì„¸ìš”.
    - ì¡°ê±´2: ì»¬ëŸ¼ëª…ì„ ì•„ë˜ì™€ ê°™ì´ ë³€ê²½í•˜ì„¸ìš”.
        - 'Country / Dependency' -> 'country'
        - 'Population' -> 'population'
    - ì¡°ê±´3: 'country' Column(ì—´)ì˜ ê°’ì´  'World'ì¸ ì²«ë²ˆì§¸ ì¸ë±ìŠ¤(index=0)ì„ ì‚­ì œí•˜ì„¸ìš”.
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [22]:
# 2-2
df_population = df_population[['Country / Dependency', 'Population']]
df_population = df_population.rename(columns={'Country / Dependency': 'country', 'Population': 'population'})
df_population

                                 country  population
0                                  World  8063792000
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335466000
4                              Indonesia   278696200
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239                         Vatican City         764
240  Cocos (Keeling) Islands (Australia)         593
241                Pitcairn Islands (UK)          47

[242 rows x 2 columns]

In [23]:
#df_population = df_population.drop(df_population['country'] == 'World')
df_population = df_population.drop(df_population.index[0])

In [24]:
check_02_02(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 35 / 100

In [25]:
df_population

                                 country  population
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335466000
4                              Indonesia   278696200
5                               Pakistan   241499431
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239                         Vatican City         764
240  Cocos (Keeling) Islands (Australia)         593
241                Pitcairn Islands (UK)          47

[241 rows x 2 columns]

### ë¬¸ì œ 2-3) Population Data ì „ì²˜ë¦¬ 02 (5ì )
- 2-2ì˜ DataFrame(df_population)ê³¼ ì•„ë˜ì˜ df_population_change_dictë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ëª…(ì»¬ëŸ¼ëª…: 'country')ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : êµ­ê°€ëª…ì„ ë³€ê²½í•˜ëŠ” ì´ìœ ëŠ” ì¶”í›„ ë¬¸ì œì—ì„œ 1ë‹¨ê³„ì—ì„œ ë§Œë“¤ì—ˆë˜ df_targetê³¼ í•©ì¹˜ê¸° ìœ„í•¨ì…ë‹ˆë‹¤.
        - ë³€ê²½ êµ­ê°€ëŠ” 1ë‹¨ê³„ì˜ df_targetì— ìˆëŠ” êµ­ê°€ë§Œ í•´ë‹¹ë©ë‹ˆë‹¤.
        - ì¼ë¶€ êµ­ê°€ëª…ì˜ í‘œí˜„ì´ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— df_targetì„ ê¸°ì¤€ìœ¼ë¡œ í‘œê¸°ë¥¼ í†µì¼í•©ë‹ˆë‹¤.
<br></br>
    - ì•„ë˜ df_population_change_dictëŠ” ë³€ê²½ ëŒ€ìƒì¸ df_populationì˜ ê¸°ì¡´ êµ­ê°€ëª…ê³¼ ë³€ê²½í•  êµ­ê°€ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_population_change_dictë¥¼ ì´ìš©í•˜ì—¬ df_populationì˜ êµ­ê°€ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
        - ì¡°ê±´2: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [26]:
df_population_change_dict = {
    'Bermuda (United Kingdom)': 'Bermuda',
    'Cape Verde': 'Cabo Verde',
    'DR Congo': 'Congo, The Democratic Republic of the',
    'Ivory Coast': "CÃ´te d'Ivoire",
    'Greenland (Denmark)': 'Greenland',
    'Hong Kong (China)': 'Hong Kong',
    'South Korea': 'Korea, Republic of',
    'Laos': "Lao People's Democratic Republic",
    'Macau (China)': 'Macao',
    'North Macedonia': 'Republic of North Macedonia',
    'Micronesia': 'Federated States of Micronesia',
    'Puerto Rico (United States)': 'Puerto Rico',
    'Slovakia': 'Slovak Republic',
    'East Timor': 'Timor-Leste',
}

In [27]:
for key, val in df_population_change_dict.items():
    df_population.loc[df_population['country'] == key, 'country'] = val

df_population

                                 country  population
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335466000
4                              Indonesia   278696200
5                               Pakistan   241499431
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239                         Vatican City         764
240  Cocos (Keeling) Islands (Australia)         593
241                Pitcairn Islands (UK)          47

[241 rows x 2 columns]

In [28]:
# 2-3

check_02_03(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 40 / 100

In [29]:
df_population

                                 country  population
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335466000
4                              Indonesia   278696200
5                               Pakistan   241499431
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239                         Vatican City         764
240  Cocos (Keeling) Islands (Australia)         593
241                Pitcairn Islands (UK)          47

[241 rows x 2 columns]

### ë¬¸ì œ 2-4) Data í•©ì¹˜ê¸°(10ì )
- 1ë‹¨ê³„ì˜ DataFrame(df_target)ê³¼ 2-3ì˜ DataFrame(df_population)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ í•©ì¹˜ì„¸ìš”.
<br></br>
    - df_targetì— df_populationì˜ Dataë¥¼ ì¶”ê°€í•˜ë ¤ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_target, df_populationì˜ êµ­ê°€ëª…('country' Column(ì—´)ì˜ value)ì´ ê°™ì€ Dataë¼ë¦¬ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´2: ê²°í•© ë°©ì‹ì€ êµì§‘í•©(ê²¹ì¹˜ëŠ” êµ­ê°€ëª…ì´ ìˆëŠ” ê²½ìš°ë§Œ ì¶”ì¶œ)ìœ¼ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´3: Column(ì—´)ë°©í–¥ìœ¼ë¡œ DataFrameì„ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´4: 'code' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´5: indexë¥¼ resetí•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´6: ê²°ê³¼ DataFrameì˜ Columnì€ 6ê°œ('country', 'incomeperperson', 'internetuserate', 'urbanrate', 'code', 'population')ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´7: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
        - hint1: ì¡°ê±´1 -> key='country' ë˜ëŠ” on='country'
<br></br>
        - hint2: ì¡°ê±´2 -> join='inner' ë˜ëŠ” how='inner'(DataFrame ìˆœì„œì— ë”°ë¼ 'left', 'right'ë„ ê°€ëŠ¥)
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [30]:
#df_target.info()
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 1 to 241
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     241 non-null    object
 1   population  241 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.9+ KB

In [31]:
# 2-4
df = df_target.merge(df_population, on='country', how='left')
df = df.sort_values(by='code', ascending=True)
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          182 non-null    object
 1   incomeperperson  182 non-null    float64
 2   internetuserate  182 non-null    float64
 3   urbanrate        182 non-null    float64
 4   code             182 non-null    object
 5   population       180 non-null    float64
dtypes: float64(4), object(2)
memory usage: 8.7+ KB

In [32]:
check_02_04(df)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 50 / 100

In [33]:
df

,country,incomeperperson,internetuserate,urbanrate,code,population
0,Andorra,21943.339900,81.000000,88.92,AD,83523.0
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410.0
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772.0
3,Albania,1914.996551,44.989947,46.72,AL,2761785.0
4,Armenia,1326.741757,44.001025,63.86,AM,2981200.0
...,...,...,...,...,...,...
177,Samoa,1784.071284,6.965038,23.00,WS,205557.0
178,Yemen,610.357367,12.349750,30.64,YE,31888698.0
179,South Africa,3745.649852,12.334893,60.74,ZA,60604992.0
180,Zambia,432.226337,10.124986,35.42,ZM,19610769.0
181,Zimbabwe,320.771890,11.500415,37.34,ZW,15178979.0

## 3ë‹¨ê³„: Reference Data02: ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬ & í•©ì¹˜ê¸°
***

In [34]:
df_region = pd.read_csv('./datas/continents2.csv')
df_region

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [35]:
df_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      249 non-null    object
 1   alpha-2                   248 non-null    object
 2   alpha-3                   249 non-null    object
 3   country-code              249 non-null    int64
 4   iso_3166-2                249 non-null    object
 5   region                    248 non-null    object
 6   sub-region                248 non-null    object
 7   intermediate-region       107 non-null    object
 8   region-code               248 non-null    float64
 9   sub-region-code           248 non-null    float64
 10  intermediate-region-code  107 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 21.5+ KB

### ë¬¸ì œ 3-1) Region Data ì „ì²˜ë¦¬ 01 (10ì )
- ìœ„ì˜ DataFrame(df_region)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1
        - íŠ¹ì • êµ­ê°€('Namibia')ì˜ êµ­ê°€ì½”ë“œê°€ 'NA'ì´ê¸° ë•Œë¬¸ì— ìœ„ì™€ ê°™ì´ DataFrameì„ ë¶ˆëŸ¬ì˜¬ê²½ìš° í•´ë‹¹ êµ­ê°€ì½”ë“œê°€ NaNê°’ìœ¼ë¡œ ì²˜ë¦¬ë©ë‹ˆë‹¤.
        - í•´ë‹¹ êµ­ê°€ì˜ êµ­ê°€ì½”ë“œë¥¼ 'NA'ë¡œ ë³€ê²½í•˜ì„¸ìš”.(í•´ë‹¹ ê°’ì˜ typeì´ stringì´ì–´ì•¼ í•©ë‹ˆë‹¤.)
        - ì°¸ê³ 
            - ì•„ë˜ ì¡°ê±´3ì— ë”°ë¥¸ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ê¸° ì „ì—ëŠ” 'alpha-2', ë³€ê²½ í›„ì—ëŠ” 'code' Column(ì—´)ì— êµ­ê°€ì½”ë“œê°€ ìˆìŠµë‹ˆë‹¤.
            - êµ­ê°€ëª… Column(ì—´)ëª…ì€ 'name'ì…ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2
        - ì•„ë˜ df_region_drop_colì€ Data ë¶„ì„ì‹œ í•„ìš” ì—†ëŠ” Column(ì—´)ì…ë‹ˆë‹¤.
        - df_region_drop_colì„ ì°¸ê³ í•˜ì—¬ df_regionì˜ Column(ì—´)ë“¤ì„ ì‚­ì œ(drop)í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3
        - ì•„ë˜ df_region_rename_dictëŠ” ê¸°ì¡´ ì»¬ëŸ¼ëª… - ë³€ê²½í•  ì»¬ëŸ¼ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
        - df_region_rename_dictë¥¼ ì°¸ê³ í•˜ì—¬ df_regionì˜ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [36]:
df_region_drop_col = [
                    'country-code',
                    'alpha-3',
                    'iso_3166-2',
                    'region-code',
                    'sub-region-code',
                    'intermediate-region-code'
                    ]

df_region_rename_dict = {
                        'alpha-2': 'code',
                        'sub-region': 'sub_region',
                        'intermediate-region': 'intermediate_region',
                        }

In [37]:
df_region['alpha-2'].fillna('NA', inplace=True)
df_region['alpha-2'].isnull().sum()

0

In [38]:
df_region = df_region.drop(columns=df_region_drop_col)
df_region

,name,alpha-2,region,sub-region,intermediate-region
0,Afghanistan,AF,Asia,Southern Asia,NaN
1,Ã…land Islands,AX,Europe,Northern Europe,NaN
2,Albania,AL,Europe,Southern Europe,NaN
3,Algeria,DZ,Africa,Northern Africa,NaN
4,American Samoa,AS,Oceania,Polynesia,NaN
...,...,...,...,...,...
244,Wallis and Futuna,WF,Oceania,Polynesia,NaN
245,Western Sahara,EH,Africa,Northern Africa,NaN
246,Yemen,YE,Asia,Western Asia,NaN
247,Zambia,ZM,Africa,Sub-Saharan Africa,Eastern Africa
248,Zimbabwe,ZW,Africa,Sub-Saharan Africa,Eastern Africa

In [39]:
df_region = df_region.rename(columns=df_region_rename_dict)
df_region

                  name code   region          sub_region intermediate_region
0          Afghanistan   AF     Asia       Southern Asia                 NaN
1        Ã…land Islands   AX   Europe     Northern Europe                 NaN
2              Albania   AL   Europe     Southern Europe                 NaN
3              Algeria   DZ   Africa     Northern Africa                 NaN
4       American Samoa   AS  Oceania           Polynesia                 NaN
..                 ...  ...      ...                 ...                 ...
244  Wallis and Futuna   WF  Oceania           Polynesia                 NaN
245     Western Sahara   EH   Africa     Northern Africa                 NaN
246              Yemen   YE     Asia        Western Asia                 NaN
247             Zambia   ZM   Africa  Sub-Saharan Africa      Eastern Africa
248           Zimbabwe   ZW   Africa  Sub-Saharan Africa      Eastern Africa

[249 rows x 5 columns]

In [40]:
df_region['code'] = df_region['code'].astype(str)

In [41]:
df_region['code'].dtype

dtype('O')

In [42]:
# 3-1

check_03_01(df_region)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 60 / 100

In [43]:
df_region

                  name code   region          sub_region intermediate_region
0          Afghanistan   AF     Asia       Southern Asia                 NaN
1        Ã…land Islands   AX   Europe     Northern Europe                 NaN
2              Albania   AL   Europe     Southern Europe                 NaN
3              Algeria   DZ   Africa     Northern Africa                 NaN
4       American Samoa   AS  Oceania           Polynesia                 NaN
..                 ...  ...      ...                 ...                 ...
244  Wallis and Futuna   WF  Oceania           Polynesia                 NaN
245     Western Sahara   EH   Africa     Northern Africa                 NaN
246              Yemen   YE     Asia        Western Asia                 NaN
247             Zambia   ZM   Africa  Sub-Saharan Africa      Eastern Africa
248           Zimbabwe   ZW   Africa  Sub-Saharan Africa      Eastern Africa

[249 rows x 5 columns]

In [44]:
df_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 249 non-null    object
 1   code                 249 non-null    object
 2   region               248 non-null    object
 3   sub_region           248 non-null    object
 4   intermediate_region  107 non-null    object
dtypes: object(5)
memory usage: 9.9+ KB

### ë¬¸ì œ 3-2) Data í•©ì¹˜ê¸°(10ì )
- 2ë‹¨ê³„ì˜ DataFrame(df)ê³¼ 3-1ì˜ DataFrame(df_region)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ í•©ì¹˜ì„¸ìš”.
<br></br>
    - dfì— df_regionì˜ Dataë¥¼ ì¶”ê°€í•˜ë ¤ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df, df_region êµ­ê°€ì½”ë“œ('code' Column(ì—´)ì˜ value)ê°€ ê°™ì€ Dataë¼ë¦¬ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´2: ê²°í•© ë°©ì‹ì€ êµì§‘í•©(ê²¹ì¹˜ëŠ” êµ­ê°€ì½”ë“œê°€ ìˆëŠ” ê²½ìš°ë§Œ ì¶”ì¶œ)ìœ¼ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´3: Column(ì—´)ë°©í–¥ìœ¼ë¡œ DataFrameì„ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´4: 'code' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´5
            - ì•„ë˜ df_rename_dictëŠ” ê¸°ì¡´ ì»¬ëŸ¼ëª… - ë³€ê²½í•  ì»¬ëŸ¼ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
            - df_rename_dictë¥¼ ì°¸ê³ í•˜ì—¬ dfì˜ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
        - ì¡°ê±´6
            - ì•„ë˜ new_col_orderëŠ” ë³€ê²½í•˜ê³ ìí•˜ëŠ” Column(ì—´)ì˜ ìˆœì„œëŒ€ë¡œ Column(ì—´)ëª…ì„ ê°’ìœ¼ë¡œ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤.
            - new_col_orderë¥¼ ì°¸ê³ í•˜ì—¬ dfì˜ Column(ì—´)ì˜ ìˆœì„œë¥¼ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
        - ì¡°ê±´7: 'name' Column(ì—´)ì€ ì‚­ì œ(drop)í•´ ì£¼ì„¸ìš”
<br></br>
        - ì¡°ê±´8: indexë¥¼ resetí•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´9: ê²°ê³¼ DataFrameì˜ Columnì€ 6ê°œ('country', 'incomeperperson', 'internetuserate', 'urbanrate', 'code', 'population')ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´10: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
        - hint1: ì¡°ê±´1 -> key='code' ë˜ëŠ” on='code'
<br></br>
        - hint2: ì¡°ê±´2 -> join='inner' ë˜ëŠ” how='inner'(DataFrame ìˆœì„œì— ë”°ë¼ 'left', 'right'ë„ ê°€ëŠ¥)
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [45]:
df_rename_dict = {
                'incomeperperson': 'income_per_person',
                'internetuserate': 'internet_use_rate',
                }

df_drop_col = ['name']

new_col_order = [
                'code',
                'country',
                'population',
                'income_per_person',
                'internet_use_rate',
                'urbanrate',
                'region',
                'sub_region',
                'intermediate_region'
                ]

In [46]:
df_merge = df.merge(df_region, on='code', how='inner')
df_merge = df_merge.sort_values(by='code', ascending=True)
df_merge = df_merge.reset_index(drop=True)
df_merge

,country,incomeperperson,internetuserate,urbanrate,code,population,name,region,sub_region,intermediate_region
0,Andorra,21943.339900,81.000000,88.92,AD,83523.0,Andorra,Europe,Southern Europe,NaN
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410.0,United Arab Emirates,Asia,Western Asia,NaN
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772.0,Antigua and Barbuda,Americas,Latin America and the Caribbean,Caribbean
3,Albania,1914.996551,44.989947,46.72,AL,2761785.0,Albania,Europe,Southern Europe,NaN
4,Armenia,1326.741757,44.001025,63.86,AM,2981200.0,Armenia,Asia,Western Asia,NaN
...,...,...,...,...,...,...,...,...,...,...
177,Samoa,1784.071284,6.965038,23.00,WS,205557.0,Samoa,Oceania,Polynesia,NaN
178,Yemen,610.357367,12.349750,30.64,YE,31888698.0,Yemen,Asia,Western Asia,NaN
179,South Africa,3745.649852,12.334893,60.74,ZA,60604992.0,South Africa,Africa,Sub-Saharan Africa,Southern Africa
180,Zambia,432.226337,10.124986,35.42,ZM,19610769.0,Zambia,Africa,Sub-Saharan Africa,Eastern Africa
181,Zimbabwe,320.771890,11.500415,37.34,ZW,15178979.0,Zimbabwe,Africa,Sub-Saharan Africa,Eastern Africa

In [47]:
df_merge = df_merge.rename(columns=df_rename_dict)
df_merge

,country,income_per_person,internet_use_rate,urbanrate,code,population,name,region,sub_region,intermediate_region
0,Andorra,21943.339900,81.000000,88.92,AD,83523.0,Andorra,Europe,Southern Europe,NaN
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410.0,United Arab Emirates,Asia,Western Asia,NaN
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772.0,Antigua and Barbuda,Americas,Latin America and the Caribbean,Caribbean
3,Albania,1914.996551,44.989947,46.72,AL,2761785.0,Albania,Europe,Southern Europe,NaN
4,Armenia,1326.741757,44.001025,63.86,AM,2981200.0,Armenia,Asia,Western Asia,NaN
...,...,...,...,...,...,...,...,...,...,...
177,Samoa,1784.071284,6.965038,23.00,WS,205557.0,Samoa,Oceania,Polynesia,NaN
178,Yemen,610.357367,12.349750,30.64,YE,31888698.0,Yemen,Asia,Western Asia,NaN
179,South Africa,3745.649852,12.334893,60.74,ZA,60604992.0,South Africa,Africa,Sub-Saharan Africa,Southern Africa
180,Zambia,432.226337,10.124986,35.42,ZM,19610769.0,Zambia,Africa,Sub-Saharan Africa,Eastern Africa
181,Zimbabwe,320.771890,11.500415,37.34,ZW,15178979.0,Zimbabwe,Africa,Sub-Saharan Africa,Eastern Africa

In [48]:
df_merge = df_merge[new_col_order]
df_merge

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
0,AD,Andorra,83523.0,21943.339900,81.000000,88.92,Europe,Southern Europe,NaN
1,AE,United Arab Emirates,9282410.0,21087.394120,77.996781,77.88,Asia,Western Asia,NaN
2,AG,Antigua and Barbuda,100772.0,11894.464070,80.645455,30.46,Americas,Latin America and the Caribbean,Caribbean
3,AL,Albania,2761785.0,1914.996551,44.989947,46.72,Europe,Southern Europe,NaN
4,AM,Armenia,2981200.0,1326.741757,44.001025,63.86,Asia,Western Asia,NaN
...,...,...,...,...,...,...,...,...,...
177,WS,Samoa,205557.0,1784.071284,6.965038,23.00,Oceania,Polynesia,NaN
178,YE,Yemen,31888698.0,610.357367,12.349750,30.64,Asia,Western Asia,NaN
179,ZA,South Africa,60604992.0,3745.649852,12.334893,60.74,Africa,Sub-Saharan Africa,Southern Africa
180,ZM,Zambia,19610769.0,432.226337,10.124986,35.42,Africa,Sub-Saharan Africa,Eastern Africa
181,ZW,Zimbabwe,15178979.0,320.771890,11.500415,37.34,Africa,Sub-Saharan Africa,Eastern Africa

In [49]:
# 3-2
# ì°¸ê³ : 'name' Column(ì—´)ì€ new_col_order ìˆœì„œë¡œ ë§ì¶œ ë•Œ ì‚¬ë¼ì§.
df = df_merge.copy()
df

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
0,AD,Andorra,83523.0,21943.339900,81.000000,88.92,Europe,Southern Europe,NaN
1,AE,United Arab Emirates,9282410.0,21087.394120,77.996781,77.88,Asia,Western Asia,NaN
2,AG,Antigua and Barbuda,100772.0,11894.464070,80.645455,30.46,Americas,Latin America and the Caribbean,Caribbean
3,AL,Albania,2761785.0,1914.996551,44.989947,46.72,Europe,Southern Europe,NaN
4,AM,Armenia,2981200.0,1326.741757,44.001025,63.86,Asia,Western Asia,NaN
...,...,...,...,...,...,...,...,...,...
177,WS,Samoa,205557.0,1784.071284,6.965038,23.00,Oceania,Polynesia,NaN
178,YE,Yemen,31888698.0,610.357367,12.349750,30.64,Asia,Western Asia,NaN
179,ZA,South Africa,60604992.0,3745.649852,12.334893,60.74,Africa,Sub-Saharan Africa,Southern Africa
180,ZM,Zambia,19610769.0,432.226337,10.124986,35.42,Africa,Sub-Saharan Africa,Eastern Africa
181,ZW,Zimbabwe,15178979.0,320.771890,11.500415,37.34,Africa,Sub-Saharan Africa,Eastern Africa

In [50]:
df[df['population'].isnull()]

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
19,BM,Bermuda,NaN,62682.14701,84.654514,100.00,Americas,Northern America,NaN
138,PR,Puerto Rico,NaN,15822.11214,42.692335,98.32,Americas,Latin America and the Caribbean,Caribbean

In [51]:
bermuda_puerto_dict = {
    'Bermuda': 64000,
    'Puerto Rico': 3200000
}

for coun_name, pop in bermuda_puerto_dict.items():
    df.loc[df['country'] == coun_name, 'population'] = pop

df[df['population'].isnull()]

Empty DataFrame
Columns: [code, country, population, income_per_person, internet_use_rate, urbanrate, region, sub_region, intermediate_region]
Index: []

In [52]:
df.isnull().sum()

code                     0
country                  0
population               0
income_per_person        0
internet_use_rate        0
urbanrate                0
region                   0
sub_region               0
intermediate_region    105
dtype: int64

In [53]:
check_03_02(df)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 70 / 100

In [54]:
df

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
0,AD,Andorra,83523.0,21943.339900,81.000000,88.92,Europe,Southern Europe,-
1,AE,United Arab Emirates,9282410.0,21087.394120,77.996781,77.88,Asia,Western Asia,-
2,AG,Antigua and Barbuda,100772.0,11894.464070,80.645455,30.46,Americas,Latin America and the Caribbean,Caribbean
3,AL,Albania,2761785.0,1914.996551,44.989947,46.72,Europe,Southern Europe,-
4,AM,Armenia,2981200.0,1326.741757,44.001025,63.86,Asia,Western Asia,-
...,...,...,...,...,...,...,...,...,...
177,WS,Samoa,205557.0,1784.071284,6.965038,23.00,Oceania,Polynesia,-
178,YE,Yemen,31888698.0,610.357367,12.349750,30.64,Asia,Western Asia,-
179,ZA,South Africa,60604992.0,3745.649852,12.334893,60.74,Africa,Sub-Saharan Africa,Southern Africa
180,ZM,Zambia,19610769.0,432.226337,10.124986,35.42,Africa,Sub-Saharan Africa,Eastern Africa
181,ZW,Zimbabwe,15178979.0,320.771890,11.500415,37.34,Africa,Sub-Saharan Africa,Eastern Africa

## 4ë‹¨ê³„: Data ë¶„ì„í•˜ê¸°(ê°€ì¤‘ í‰ê·  & ë¶„ì‚°)
***

### ë¬¸ì œ 4-1) ì§€ì—­ëŒ€ë¥™ë³„ ê°€ì¤€ í‰ê·  êµ¬í•˜ê¸° (15ì )
- 3ë‹¨ê³„ DataFrame(df)ì˜ êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ëŒ€ë¥™(region) ë˜ëŠ” ì§€ì—­ëŒ€ë¥™(sub_region)ë³„ë¡œ í‰ê· ì„ í•©ì‚°í•˜ì—¬ ë³´ê¸° ìœ„í•´ì„œëŠ” ë‹¨ìˆœ í‰ê· ì´ ì•„ë‹Œ êµ­ê°€ë³„ ì¸êµ¬ìˆ˜(population)ì„ ê°€ì¤‘í•œ í‰ê· ì„ ê³„ì‚°í•˜ì—¬ì•¼ í•©ë‹ˆë‹¤.
<br></br>
- 3ë‹¨ê³„ DataFrame(df)ì„ ì´ìš©í•˜ì—¬ ì§€ì—­ëŒ€ë¥™(sub_region)ë³„ ì¡°ê±´ì— ë§ê²Œ ê°€ì¤‘í‰ê· ì„ êµ¬í•˜ì„¸ìš”.
<br></br>
- ì°¸ê³ 
    - ê°€ì¤‘ í‰ê· : ìë£Œì˜ í‰ê· ì„ êµ¬í•  ë•Œ ìë£Œ ê°’ì˜ ì¤‘ìš”ë„ë‚˜ ì˜í–¥ ì •ë„ì— í•´ë‹¹í•˜ëŠ” ê°€ì¤‘ì¹˜ë¥¼ ë°˜ì˜í•˜ì—¬ êµ¬í•œ í‰ê· ê°’
<br></br>
    <img src="images/04-4-1-001.png" style="margin:auto" width=300/>
<br></br>
<br></br>
    - ì¡°ê±´1: ê°€ì¤‘ì¹˜(weights)ëŠ” population Column(ì—´)ì„ ì´ìš©í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì§€ì—­ëŒ€ë¥™(sub_region)ì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ í‘œì™€ ê°™ì€ index, column í˜•íƒœë¡œ ë‚˜íƒ€ë‚´ì£¼ì„¸ìš”.
        - index = ['region', 'sub_region']
        - column = ['weighted_ave_internet', 'weighted_ave_income']
<br></br>
        <img src="images/04-4-1-002.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df_result' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint1: pandas.DataFrame.groupby
<br></br>
    - hint2: numpy.average
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_04_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [55]:
import numpy as np

# ê° ì§€ì—­ê³¼ ì§€ì—­ëŒ€ë¥™ë³„ë¡œ ê·¸ë£¹í™”í•˜ê³ , ê° ê·¸ë£¹ì˜ ê°€ì¤‘ í‰ê· ì„ ê³„ì‚°í•©ë‹ˆë‹¤.
def weighted_average(group):
    internet_avg = np.average(group['internet_use_rate'], weights=group['population'])
    income_avg = np.average(group['income_per_person'], weights=group['population'])
    return pd.Series({'weighted_ave_internet': internet_avg, 'weighted_ave_income': income_avg})

# groupbyì™€ apply ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ê²°ê³¼ DataFrameì„ ìƒì„±í•©ë‹ˆë‹¤.
df_result = df.groupby(['region', 'sub_region']).apply(weighted_average)
df_result

                                          weighted_ave_internet  \
region   sub_region
Africa   Northern Africa                              27.745306
         Sub-Saharan Africa                           11.104932
Americas Latin America and the Caribbean              33.842200
         Northern America                             75.009746
Asia     Central Asia                                 20.409175
         Eastern Asia                                 39.431258
         South-eastern Asia                           19.502026
         Southern Asia                                 8.627736
         Western Asia                                 32.438902
Europe   Eastern Europe                               47.851453
         Northern Europe                              84.374873
         Southern Europe                              56.551397
         Western Europe                               80.600148
Oceania  Australia and New Zealand                    77.055508
         Melanesia                                     2.509922
         Micronesia                                   14.119694
         Polynesia                                     8.617012

                                          weighted_ave_income
region   sub_region
Africa   Northern Africa                          2274.703492
         Sub-Saharan Africa                        641.326660
Americas Latin America and the Caribbean          4951.885340
         Northern America                        36212.468835
Asia     Central Asia                             1293.166143
         Eastern Asia                             5909.284489
         South-eastern Asia                       1791.682501
         Southern Asia                             811.253635
         Western Asia                             5521.985314
Europe   Eastern Europe                           3440.302310
         Northern Europe                         27867.254790
         Southern Europe                         14777.243325
         Western Europe                          25256.493515
Oceania  Australia and New Zealand               23540.979924
         Melanesia                                 880.105518
         Micronesia                               1407.454876
         Polynesia                                1863.107822

In [56]:
# 4-1

check_04_01(df_result)

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 85 / 100

In [57]:
df_result

                                          weighted_ave_internet  \
region   sub_region
Africa   Northern Africa                              27.745306
         Sub-Saharan Africa                           11.104932
Americas Latin America and the Caribbean              33.842200
         Northern America                             75.009746
Asia     Central Asia                                 20.409175
         Eastern Asia                                 39.431258
         South-eastern Asia                           19.502026
         Southern Asia                                 8.627736
         Western Asia                                 32.438902
Europe   Eastern Europe                               47.851453
         Northern Europe                              84.374873
         Southern Europe                              56.551397
         Western Europe                               80.600148
Oceania  Australia and New Zealand                    77.055508
         Melanesia                                     2.509922
         Micronesia                                   14.119694
         Polynesia                                     8.617012

                                          weighted_ave_income
region   sub_region
Africa   Northern Africa                          2274.703492
         Sub-Saharan Africa                        641.326660
Americas Latin America and the Caribbean          4951.885340
         Northern America                        36212.468835
Asia     Central Asia                             1293.166143
         Eastern Asia                             5909.284489
         South-eastern Asia                       1791.682501
         Southern Asia                             811.253635
         Western Asia                             5521.985314
Europe   Eastern Europe                           3440.302310
         Northern Europe                         27867.254790
         Southern Europe                         14777.243325
         Western Europe                          25256.493515
Oceania  Australia and New Zealand               23540.979924
         Melanesia                                 880.105518
         Micronesia                               1407.454876
         Polynesia                                1863.107822

### ë¬¸ì œ 4-2) íŠ¹ì • ì¡°ê±´ì˜ ê°€ì¤€ í‰ê·  êµ¬í•˜ê¸° (15ì )
- ì¤‘êµ­ê³¼ ì¸ë„ë¥¼ ì œì™¸í•œ Eastern Asia, Southern Asiaì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ¬í•˜ì„¸ìš”.
<br></br>
- ì°¸ê³ : 4-1ì˜ ì°¸ê³ ì‚¬í•­ ì°¸ì¡°
<br></br>
    - ì¡°ê±´1: ê°€ì¤‘ì¹˜(weights)ëŠ” population Column(ì—´)ì„ ì´ìš©í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì¤‘êµ­(êµ­ê°€ì½”ë“œ(code): 'CN)ê³¼ ì¸ë„(êµ­ê°€ì½”ë“œ: 'IN')ë¥¼ ì œì™¸í•œ Asia(region) - Eastern Asia, Southern Asia  (sub_region)ì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ í‘œì™€ ê°™ì€ index, column í˜•íƒœë¡œ ë‚˜íƒ€ë‚´ì£¼ì„¸ìš”.
        - index = ['region', 'sub_region']
        - column = ['weighted_ave_internet', 'weighted_ave_income']
<br></br>
        <img src="images/04-4-2-001.png" style="margin:auto" width=400/>
<br></br>
        <img src="images/04-4-2-002.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df_result' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint1: pandas.DataFrame.groupby
<br></br>
    - hint2: numpy.average
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_04_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [58]:
# df.loc[(df['code'] != 'CN') & (df['code'] != 'IN')]
# df[~df['code'].isin(['CN', 'IN'])]
# df.query("code not in ['CN', 'IN']")

In [59]:
df['sub_region'].unique()

array(['Southern Europe', 'Western Asia',
       'Latin America and the Caribbean', 'Sub-Saharan Africa',
       'Western Europe', 'Australia and New Zealand', 'Southern Asia',
       'Eastern Europe', 'Northern America', 'South-eastern Asia',
       'Eastern Asia', 'Northern Europe', 'Northern Africa', 'Melanesia',
       'Micronesia', 'Central Asia', 'Polynesia'], dtype=object)

In [60]:
# ì¸ë„, ì°¨ì´ë‚˜ ì œì™¸
df_except_CN_IN = df.loc[(df['code'] != 'CN') & (df['code'] != 'IN')]
# Eastern, Southern Asia ì„ íƒ
df_except_asia = df_except_CN_IN[df_except_CN_IN['sub_region'].isin(['Eastern Asia', 'Southern Asia'])]
# ì§€ì—­ê³¼ í•˜ìœ„ ì§€ì—­ìœ¼ë¡œ ê·¸ë£¹í™”í•©ë‹ˆë‹¤.
df_group = df_except_asia.groupby(['region', 'sub_region'])

# ê°€ì¤‘í‰ê· 
df_result = df_group.apply(weighted_average)
df_result

                      weighted_ave_internet  weighted_ave_income
region sub_region
Asia   Eastern Asia               77.475743         32136.790093
       Southern Asia              11.487913           873.526405

In [61]:
# 4-2

check_04_02(df_result)

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 100 / 100

In [62]:
df_result

                      weighted_ave_internet  weighted_ave_income
region sub_region
Asia   Eastern Asia               77.475743         32136.790093
       Southern Asia              11.487913           873.526405

***

### ğŸŠ ë¬¸ì œê°€ ëë‚¬ìŠµë‹ˆë‹¤. ì œì¶œì–‘ì‹ê³¼ ì¼ì •ì— ë§ì¶° ì œì¶œí•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!

### ì œì¶œì–‘ì‹
- ì´ íŒŒì¼ì€ EDA Level TEST 4íšŒì°¨ ë…¸íŠ¸ë¶ì…ë‹ˆë‹¤. ë”°ë¼ì„œ ì œì¶œì‹œ íŒŒì¼ëª…ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤.
- [DS]edalvtest_04_yourname.ipynb

***

# ë¬¸ì˜ì‚¬í•­ ë° ì˜ê²¬ì´ ìˆëŠ” ê²½ìš° ì‘ì„±í•´ì£¼ì„¸ìš”.