In [4]:
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

# 각 열의 합계를 계산
sum_by_column = df.apply(sum, axis=1)

In [5]:
sum_by_column

0    5
1    7
2    9
dtype: int64

In [6]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [7]:
data = {'text': ['apple', 'banana', 'cherry']}
df_len = pd.DataFrame(data)
df_len

     text
0   apple
1  banana
2  cherry

In [8]:

# 각 문자열의 길이를 계산하여 새로운 열 추가
df_len['text_length'] = df_len['text'].apply(len)
df_len

     text  text_length
0   apple            5
1  banana            6
2  cherry            6

In [9]:
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df_mean = pd.DataFrame(data)
df_mean

   A  B
0  1  4
1  2  5
2  3  6

In [10]:

mean_by_column = df.apply(lambda x: x.mean(), axis=0)
mean_by_column

A    2.0
B    5.0
dtype: float64

In [11]:
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df_cus = pd.DataFrame(data)
df_cus

   A  B
0  1  4
1  2  5
2  3  6

In [13]:

# 각 열의 합계를 계산하는 사용자 정의 함수
def custom_sum(col):
    return col.sum()

sum_by_column = df_cus.apply(custom_sum, axis=0)
sum_by_column

A     6
B    15
dtype: int64

In [14]:
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df_if = pd.DataFrame(data)
df_if

   A  B
0  1  4
1  2  5
2  3  6

In [17]:

# 각 값이 2보다 큰지 여부에 따라 새로운 열 추가
# df_if['is_greater_than_2'] = df_if.apply(lambda x: x > 2, axis=1)
df_if['is_greater_than_2'] = df_if.apply(lambda row: (row['A'] > 2) and (row['B'] > 2), axis=1)
df_if

   A  B  is_greater_than_2
0  1  4              False
1  2  5              False
2  3  6               True

In [18]:
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

# 열 방향으로 합계 계산
sum_by_column = df.apply(sum, axis=0)

# 행 방향으로 평균 계산
mean_by_row = df.apply(lambda x: x.mean(), axis=1)

# 추가 인수를 전달하는 예
args_example = df.apply(lambda x, a, b: x.sum() + a + b, axis=0, args=(10, 20))

In [19]:
args_example

A    36
B    45
dtype: int64

In [20]:
mean_by_row

0    2.5
1    3.5
2    4.5
dtype: float64